@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Mukta:400,700|Varela+Round');


/* 

font-family: 'Mukta', sans-serif;

font-family: 'Alfa Slab One', cursive;

font-family: 'Varela Round', sans-serif; 


#f05782 rosa
#403f4c cinza preto
rgb(115, 200, 200) verde fundo

*/

body {
    font-family: 'Varela Round', sans-serif; 
    background-color: #000;
    color:#fff;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: 'Alfa Slab One', cursive;
}